<div class="row">
	<div class="col-md-2">
		<i class="fa fa-chevron-left"></i> <%= link_to 'Back', users_path %>
		<i class="fa fa-user-plus big-icon"></i></div>
	<div class="col-md-7">
		<%= render 'form' %>
	</div>
	<div class="col-md-3">&nbsp;</div>
</div>


