<div class="row">
<h1>Edytuj województwo</h1>
  <% if current_user.admin == 1 %>
	<div class="col-md-2">
		<p><i class="fa fa-chevron-left"></i> <%= link_to 'Back', provinces_path %> | <%= link_to 'Show', @province %></p>
		<i class="fa fa-pencil-square-o big-icon"></i>
	</div>
	<div class="col-md-7">
		<%= render 'form' %>
	</div>
	<div class="col-md-3">&nbsp;</div>

  <%else%>
	  <h1>Nie masz uprawnień</h1>
</div>
<%end%>