<h1>Patrzcie, jak ludzie głosujo</h1>


    <% @votes.each do |vote| %>
      <div class="row">
        <div class="col-md-1">ID: <%= vote.id %></div>
				<div class="col-md-4">Nazwa komitetu: <%= findCommitteeById(vote.committee_id) %></div>
        <div class="col-md-3">Ilość głosów: <%= vote.quantity %></div>
        <div class="col-md-4">ID komitetu: <%= vote.committee_id %></div>
			</div>
    <% end %>

